name: build-master
on:
  push:
    branches:
      - 'master'
jobs:
  spark-latest-images:
    name: Spark Images (latest)
    runs-on: ubuntu-latest
    env:
      DOCKERHUB_USR: ${{ secrets.DOCKERHUB_USR }}
      DOCKERHUB_PWD: ${{ secrets.DOCKERHUB_PWD }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Build Spark v3.5.7 (latest)
        uses: ./.github/actions/build-spark
        with:
          DOCKERHUB_USR: ${DOCKERHUB_USR}
          DOCKERHUB_PWD: ${DOCKERHUB_PWD}
          SCALA_VERSION: "2.12.20"
          SPARK_VERSION: "3.5.7"
          HADOOP_VERSION: "3"
  jupyterlab-latest-images:
    name: JupyterLab Images (latest)
    runs-on: ubuntu-latest
    env:
      DOCKERHUB_USR: ${{ secrets.DOCKERHUB_USR }}
      DOCKERHUB_PWD: ${{ secrets.DOCKERHUB_PWD }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Build JupyterLab v4.4.10 and Spark v3.5.7 (latest)
        uses: ./.github/actions/build-jupyterlab
        with:
          DOCKERHUB_USR: ${DOCKERHUB_USR}
          DOCKERHUB_PWD: ${DOCKERHUB_PWD}
          SCALA_VERSION: "2.12.20"
          SCALA_KERNEL_VERSION: "0.14.2"
          SPARK_VERSION: "3.5.7"
          JUPYTERLAB_VERSION: "4.4.10"
